#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 92.5%;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqlist{
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 255, 161);
  border-radius: 1rem;
  padding: 1rem;
}

.faq{
  overflow: hidden;
  padding: 0 0.5rem;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.faq .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq .header h1{
  padding: 1rem;
}

.faq:last-child{
  border-bottom: none;
}

.faq p{
  background-color: rgb(195, 255, 161);
  padding: 0rem 1rem 1rem 1rem;
}

svg{
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 767px){
  html{
    font-size: 62.5%;
  }

  .faqlist{
    width: 90vw;
  }
}